@import url('https://fonts.cdnfonts.com/css/amazon-ember');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
}

body{
    width: 100%;
    /* width: fit-content; */
    height: 100vh;
    background-color: #e3e6e6;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav{
    display: flex;
    flex-direction: column;
    background-color: #232f3e;
    color: #ffffff;
    width: 100%;
    overflow-x: hidden;
}

.upperNav{
    
    display: flex;
    align-items: center;
    background-color: #131921;
    width: 100%;
    /* width: max-content; */
    /* flex-wrap: wrap; */
    gap: 15px;
    padding: 0 5px;
    justify-content: space-between;
    text-wrap: nowrap;
    box-sizing: border-box ;
}

.upperNav .leftUpperNav , .upperNav .rightUpperNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-basis: content; */
    gap: 10px;
}

.upperNav .logo{
    display: flex;
    padding: 20px 5px;
}

.upperNav .logo img{
    height: 30px;
    filter: saturate(5);
}

.pseudoLogo{
    padding: 1px 0 0 1px;
    font-weight: 500;
}

.upperNav .location{
    display: flex;
    align-items: end;
    padding: 0 0 10px 0;
}

.upperNav .location i{
    padding: 0 0 5px 0;
}

.upperNav .location .locationText{
    padding: 2px;
}
.upperNav .location .locationText .deliverLocation{
    font-weight: 300;
    font-size: 0.75rem;
}
.upperNav .location .locationText .locationUpdate{
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: -3px;
}

.upperNav .search{
    position: relative;
    display: flex;
    margin: auto;
    width: 90%;
    gap: 0;
    height: 40px;
}

.upperNav .search select{
    position: absolute;
    width: 50px;
    height: 100%;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.75);
}

.upperNav .search input{
    height: 100%;
    width: 100%;
    padding: 0 0 0 60px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.upperNav .search input:focus{
    box-shadow: 0 0 1px 2px #ff6a00;
}

.search input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.upperNav .search button{
    position: absolute;
    right: 0;
    height: 100%;
    border: none;
    background-color: #febd69;
    padding: 0 10px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 0 5px 5px 0;
}

.upperNav .lang{ 
    display: flex;
    align-items: center;
}

.upperNav .lang img{
    height: 15px;
}

.upperNav .lang select{
    margin: 2.5px;
    font-weight: 600;
    background-color: #131921;
    color: white;
    outline: none;
    border: none;
}

.upperNav .accountHandler .greeting{
    font-weight: 400;
    font-size: 0.8rem;
}

.upperNav .accountHandler .accAndList{
    font-size: 1rem;
    font-weight: 600;
    margin-top: -3px;
}

.hoverElement{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.accContainer{
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border-radius: 5px;
    color: #000000;
    right: 0;
    margin: 5px;
    padding: 20px;
}

.headAccContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-top: 0;
    gap: 2px;
}

.headAccContainer input{
    padding: 10px 100px;
    border-radius: 10px;
    border: none;
    background-color: #ffd814;
}

.headAccContainer span{
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.75);
}

.bodyAccContainer{
    display: flex;
    align-items: start;
    list-style: none;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.bodyAccContainer li{
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.75rem;
    margin: 4px;
}

.leftBodyAccContainer,.rightBodyAccContainer{
    padding: 5px 15px;
}

.rightBodyAccContainer{
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.upperNav .order .return{
    font-weight: 400;
    font-size: 0.8rem;
}

.upperNav .order .orders{
    font-size: 1rem;
    font-weight: 600;
    margin-top: -3px;
}

.upperNav .cart{
    position: relative;
     
    display: flex;
    align-items: center;
}

.upperNav .cart img{
    filter: invert(1);
    height: 50px;
}

.upperNav .cart .number{
    position: absolute;
    font-size: 1.25rem;
    left: 1.3rem;
    bottom: 1.6rem;
    color: #febd69;
}

.lowerNav{
    position: relative;
    display: flex;
    gap: 20px;
    width: 100%;
    
    white-space: nowrap;
    text-wrap: nowrap;
}
.lowerNavItems::-webkit-scrollbar{
    display: none;
}

.lowerNavItems{
    display: flex;
    gap: 20px;
    padding: 10px 40px;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}


.lowerNav .lowerNavPrev{
    display: none;
    position: absolute;
    padding: 10px;
    left: 0;
    background: linear-gradient(90deg,#232f3e,rgba(35, 47, 62, 0.9),rgba(35, 47, 62, 0));
    z-index: 10;
}
.lowerNav .lowerNavNext{
    display: none;
    position: absolute;
    padding: 0 5px;
    padding: 10px;
    right: 0;
    background: linear-gradient(270deg,#232f3e,rgba(35, 47, 62, 0.9),rgba(35, 47, 62, 0));
    z-index: 10;
}

.lowerNav a {
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}









@media only screen and (max-width:840px){
    .upperNav{
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .upperNav .leftUpperNav,.upperNav .rightUpperNav{
        flex-basis: 100%;
        justify-content: space-between;
    }
    .lang{
        display: none !important;
    }

    .lowerNav .lowerNavNext, .lowerNav .lowerNavPrev{
        display: block;
    }
    .accContainer{
        right: unset;
    }
}