@import url('https://fonts.cdnfonts.com/css/amazon-ember');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    /* width: fit-content; */
    min-height: 100vh;
    background-color: #e3e6e6;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    /* background-color: #232f3e; */
    color: #ffffff;
    width: 100%;
    /* overflow-x: hidden; */
}

.upperNav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    background-color: #131921;
    width: 100%;
    /* width: max-content; */
    /* flex-wrap: wrap; */
    gap: 15px;
    padding: 0 5px;
    justify-content: space-between;
    text-wrap: nowrap;
    box-sizing: border-box ;
}

.upperNav .leftUpperNav , .upperNav .rightUpperNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-basis: content; */
    gap: 10px;
}

.upperNav a{
    text-decoration: none;
}

.logo{
    display: flex;
    padding: 20px 5px;
    cursor: pointer;
}

.logo img{
    height: 30px;
    filter: saturate(5);
}

.pseudoLogo{
    padding: 1px 0 0 1px;
    font-weight: 500;
    color: white;
    /* text-decoration: none; */
}

.upperNav .location{
    display: flex;
    align-items: end;
    padding: 0 0 10px 0;
    cursor: pointer;
}

.upperNav .location i{
    padding: 0 0 5px 0;
}

.upperNav .location .locationText{
    padding: 2px;
}
.upperNav .location .locationText .deliverLocation{
    font-weight: 300;
    font-size: 0.75rem;
}
.upperNav .location .locationText .locationUpdate{
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: -3px;
}

.upperNav .search{
    position: relative;
    display: flex;
    margin: auto;
    width: 90%;
    gap: 0;
    height: 40px;
}

.upperNav .search select{
    position: absolute;
    width: 50px;
    height: 100%;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.75);
}

.upperNav .search input{
    height: 100%;
    width: 100%;
    padding: 0 0 0 60px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.upperNav .search input:focus{
    box-shadow: 0 0 1px 2px #ff6a00;
}

.search input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.upperNav .search button{
    position: absolute;
    right: 0;
    height: 100%;
    border: none;
    background-color: #febd69;
    padding: 0 10px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 0 5px 5px 0;
}

 .lang{ 
    display: flex;
    align-items: center;
}

.lang img{
    height: 15px;
}

.lang select{
    margin: 2.5px;
    font-weight: 600;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.lang select option{
    color: #000000;
}

.upperNav .accountHandler{
    cursor:pointer;
}

.upperNav .accountHandler .greeting{
    font-weight: 400;
    font-size: 0.8rem;
}

.upperNav .accountHandler .accAndList{
    font-size: 1rem;
    font-weight: 600;
    margin-top: -3px;
}

.hoverElement{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;
}

.accContainer{
    display: none;
    position: absolute;
    z-index: -1;
    background-color: #fff;
    border-radius: 5px;
    color: #000000;
    right: 0;
    margin: 5px;
    padding: 20px;
}

.headAccContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-top: 0;
    gap: 2px;
}

.headAccContainer input{
    padding: 10px 100px;
    border-radius: 10px;
    border: none;
    background-color: #ffd814;
}

.headAccContainer span{
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.75);
}

.headAccContainer a{
    color: #2162a1;
}

.bodyAccContainer{
    display: flex;
    align-items: start;
    list-style: none;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.bodyAccContainer li{
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.75rem;
    margin: 4px;
    text-wrap: wrap;
}
.bodyAccContainer li a{
    color: #2162a1;
}

.bodyAccContainer li:hover{
    color: #ff6a00;
}

.leftBodyAccContainer,.rightBodyAccContainer{
    padding: 5px 15px;
}

.rightBodyAccContainer{
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.upperNav .order{
    cursor: pointer;
}

.upperNav .order .return{
    font-weight: 400;
    font-size: 0.8rem;
}

.upperNav .order .orders{
    font-size: 1rem;
    font-weight: 600;
    margin-top: -3px;
}

.upperNav .cart{
    position: relative;
     cursor: pointer;
    display: flex;
    align-items: center;
}

.upperNav .cart img{
    filter: invert(1);
    height: 50px;
}

.upperNav .cart .number{
    position: absolute;
    font-size: 1.25rem;
    left: 1.3rem;
    bottom: 1.6rem;
    color: #febd69;
}

.lowerNav{
    /* position: sticky;
    top: 0;
    left: 0; */
    display: flex;
    gap: 20px;
    width: 100%;
    top: 0;
    white-space: nowrap;
    text-wrap: nowrap;
    background-color: #232f3e;
}
.lowerNavItems::-webkit-scrollbar{
    display: none;
}

.lowerNavItems{
    display: flex;
    gap: 20px;
    padding: 10px 40px;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}


.lowerNav .lowerNavPrev{
    display: none;
    position: absolute;
    padding: 10px;
    left: 0;
    background: linear-gradient(90deg,#232f3e,rgba(35, 47, 62, 0.9),rgba(35, 47, 62, 0));
    z-index: 10;
    color: #ffffff;
}
.lowerNav .lowerNavNext{
    display: none;
    position: absolute;
    padding: 0 5px;
    padding: 10px;
    right: 0;
    background: linear-gradient(270deg,#232f3e,rgba(35, 47, 62, 0.9),rgba(35, 47, 62, 0));
    z-index: 10;
    color:#ffffff;
}

.lowerNav a {
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.carouselMasterContainer{
    position: relative;
    width: 100%;
    z-index: 0;
}

.carouselContainer{
    width: 100%;
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
}

.carouselContainer::-webkit-scrollbar{
    display: none;
}

.carouselContainer .carouselItem{
    width: 100%;
    scroll-snap-align: start;
    /* scroll-snap-stop: always; */
}
.carouselItem img{
    width: 100vw;
    /* height: 75vh; */
    object-fit: cover;
}

.carouselControlPrev, .carouselControlNext{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white ;
    text-shadow: 0 0 10px black;
    top: 0;
    height: 50%;
    padding: 2rem;
    font-weight: 100;
    cursor: pointer;
}

.carouselControlPrev{
    left:0;
}

.carouselControlNext{
    right: 0;
}

.bottomChin{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50%;
    background: linear-gradient(0deg,rgba(227, 230, 232, 1),rgba(227, 230, 232, 0));
}

.bodyContainer{
    width: 100%;
    margin-top: -20vw;
    display: flex;
    flex-direction: column;
}

.subBodyContainer1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 5px
}

.productCard{
    flex: 1 1 max(20%, 320px);
    position: relative;
    z-index: 1000;
    margin: 5px;
    /* padding: 5px; */
    min-width: 320px;
    max-width: 400px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    overflow: hidden;
    /* border-radius: 10px; */
    padding: 10px;
}

.productCard .heading{
    width: 100%;
    /* font-size: 1.25rem; */
    padding: 0 10px;
}

.productCard .heading h2{
    font-size: 1.25rem;
}

.productCard .products{
    display: flex;
    padding: 0 10px;
    flex-wrap: wrap;
}

.productCard .products .quadrant{
    width: 50%;
    height: 50%;
    padding: 5px;
}

.productCard .products .quadrant .image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    overflow: hidden;
    
}

.productCard .products .quadrant .image img{
    height: 100%;
    object-position: center;
    vertical-align: middle;
    object-fit: contain;
}

.productCard .products .quadrant p{
    font-size: 0.75rem;
}

.productCard .explore{
    padding: 0 15px;
    width: 100%;
}

.productCard .explore a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #2162a1;
}

.subBodyContainer2{
    padding: auto;
    width: 100%;
}

.productCardWide{
    position: relative;
    width: 95%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding:  20px 10px;
    background-color: #ffffff;
}

.productCardWide .heading{
    width: 100%;
    padding: 5px 20px;
}


.productCardWide .heading h2{
    font-size: 1.25rem;
}

.productCardWide .heading a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #2162a1;
    font-weight: 500;
}

.productCardWide .masterImages{
    width: 95%;
    position: relative;
}

.productCardWide .images{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 5px ;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.productCardWide .images .image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    max-width: 300px;
}

.productCardWide .images img{
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.productCardWide .prevControlImages, .productCardWide .nextControlImages{
    font-size: 2.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-shadow: 0 0 10px white;
    top: 25%;
    height: 50%;
    padding: 1rem;
    font-weight: 100;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.productCardWide .prevControlImages{
    left: 0;
}

.productCardWide .nextControlImages{
    right: 0;
}

.productCardWide .prevControlImages:hover, .productCardWide .nextControlImages:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

.upperFooter{
    padding: 25px 1px;
    background-color: #fff;
}

.upperFooter .box{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 5px;
}

.box input{
    padding: 10px 100px;
    margin: auto;
    border-radius: 500px;
    border: none;
    background-color: #ffd814;
}

.box h2{
    margin-top: 2rem;
    align-self: center;
}

.box .signUp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box span{
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.75);
}

.box a{
    color: #2162a1;
    text-decoration: none;
}

footer{
    width: 100%;

}

footer .backToTop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    color: #ffffff;
    padding: 15px;
    font-size: 0.8rem;
}
footer .mainFooter{
    width: 100%;
    background-color: #232f3e;
}

footer .mainInnerFooter{   
    padding: 25px;
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap; 
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

footer .mainFooter .footerItem{
    width: 160px;
    margin: 25px;
}

footer .mainFooter h2{
    font-size: 1.1rem;
    padding: 1rem 0;
}

footer .mainFooter li{
    list-style: none;
}

footer .mainFooter li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.8rem;
}

footer .mainFooter li a:hover{
    text-decoration: underline;
}

.bottomFooter{
    padding:5vh 10vw;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width:840px){
    .upperNav{
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .upperNav .leftUpperNav,.upperNav .rightUpperNav{
        flex-basis: 100%;
        justify-content: space-between;
    }
    .lang{
        display: none !important;
    }
    .bottomFooter .lang{
        display: flex !important;
    }

    .lowerNav .lowerNavNext, .lowerNav .lowerNavPrev{
        display: block;
    }
    .accContainer{
        margin: 0;
        width: 90vw;
        left:5vw;
    }

    .carouselItem img{
        height: 33vh;
        object-position: top;
    }
    .carouselControlNext, .carouselControlPrev{
        padding: 0.5rem;
        font-size: 2.5rem;
    }
        .bottomFooter .lang{
        display: flex !important;
    }
}
